<h1>Welcome to Blocitoff, <%= @user.email %>!</h1>
<div class="user-info">
  <h3>User Email: <%= @user.email %></h3>
</div>
<div class="user-items">
  <h2>Your Items</h2>
  <%= render @items %>
</div>
<div>
  <%= render partial: "items/form", locals: {user: @user} %>
</div>
