<h2>Welcome to Blocitoff, <%= @user.email %>!</h1>
<!-- <div class="user-info">
  <h4>User Email: <%= @user.email %></h4>
</div> -->
<div class="user-items">
  <h3>Your Items</h2>
  <%= render @items %>
</div>
<div class="new-items">
  <%= render partial: "items/form", locals: {user: @user} %>
</div>
